<% if @user %>
	<form action="/users/<%= @user.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<textarea name="username" placeholder="Username"><%= @user.username %></textarea>
		<textarea name="password" placeholder="Password"><%= @user.password %></textarea>
		<input type="submit">
	</form>
	<p><a href="/users/<%= @user.id %>/delete">Delete</a></p>
<% else %>
	<p>Note not found.</p>
<% end %>
