<% if @user %>
	<form action="/users/<%= @user.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<textarea name="content"><%=h @user.content %></textarea>
		<input type="checkbox" name="complete" <%= "checked" if @user.complete %>>
		<input type="submit">
	</form>
	<p><a href="/users/<%= @user.id %>/delete">Delete</a></p>
<% else %>
	<p>Note not found.</p>
<% end %>
