<section id="add">
	<form action="/users" method="post">
		<textarea name="username" placeholder="Username"></textarea>
		<textarea name="password" placeholder="Password"></textarea>
		<input type="submit" value="Submit">
	</form>
</section>


<% @users.each do |user| %>
		<p>
			<%=h user.username %>
			<span><a href="/users/<%= user.id %>">[edit]</a></span>
		</p>
		<p class="links">
			<a href="/users/<%= user.id %>/complete">&#8623;</a>
		</p>
	</article>
<% end %>
